*node_modules/*

*public/data/*

.vscode

access.log
cidades_original.csv
coords_cidade_original.csv
cidades.csv
estados_original.csv
estados.csv
brasil.csv
brasil_semana.csv
estados_semana.csv
cidades_semana.csv
estados_regiao.csv
estados_regiao_semana.csv
cidades_area.csv
cidades_area_semana.csv
cidades_subarea.csv
cidades_subarea_semana.csv
cases-brazil-cities-time.csv.gz
cases-brazil-cities-time.csv
gps_cities.csv
cases-brazil-states.csv
cidades_total.csv
