*node_modules/*

*public/data/*

.vscode

cidades_original.csv
coords_cidade_original.csv
cidades.csv
estados_original.csv
estados.csv
brasil.csv
brasil_semana.csv
estados_semana.csv
cidades_semana.csv
estados_regiao.csv
estados_regiao_semana.csv
cidades_api.csv
cidades_api_semana.csv
cidades_sapi.csv
cidades_sapi_semana.csv