 /*   .axis--x path {
    display: none;
  }
 */

 

 /* .toolTip::after {
     content: '';
     display: block;
     width: 20px;
     height: 20px;
     position: absolute;
     border-bottom: 1px solid #999;
     border-right: 1px solid #999;
     background-color: white;
     left: 84px;
     top: 89.5px;
     transform: rotate(45deg)
 } */

 .round-btn {
     height: 28px;
     width: 28px;
     border-radius: 50%;
 }

 .round-btn:active {
     background-color: red;
 }

 .toolTipState {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #999;
    padding: 14px;
    text-align: left;
    z-index: 1000;
}

 .toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #999;
    padding: 14px;
    text-align: left;
    z-index: 1000;
}

.chart-card {
    min-height: 28vh;
}

.chart-print-card {
    min-height: 38vh;
}

.card-body {
    padding: 0.25rem !important;
}