text {
    font-family: sans-serif;
  }

  .bar {
    fill: #fac9c7;
  }

  .bar:hover {
    fill: #fd8b87;
  }

  .axis--x path {
    display: none;
  }


  #graph-cases, #graph-deaths {
    height: 200px;
    width: 500px;
    padding: 0;
}


/* 
.g-svelte {
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
} */

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */