body *{
    font-family: 'Alegreya', serif;
}


  .material-icons {
    font-family: 'Material Icons'!important;
}

.title {
   

}



.eb-img { 
    grid-area: eb-img;
    text-align: center;
    align-self: center;
    
}

.eb-img img {
    max-width: 57px;
    max-height: 85px;
}

.title { 
    grid-area: title;
    text-align: center;
    align-self: center;
}
.dsg-img { 
    
    grid-area: dsg-img;
    text-align: center;
    align-self: center;
}
.dsg-img img {
    max-width: 57px;
    max-height: 85px;
}


.grid-container-title {
  display: grid;
  grid-template-areas:    
    'eb-img title dsg-img';
 
}