body * {
    font-family: "Public Sans", sans-serif !important;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media only screen and (max-width: 992px) {
    /*  html,
    body {
        overflow: auto;
    } */
}

.navbar {
    z-index: 3500;
    background-color: #607d8b !important;
    color: white;
}

.map-container {
    background-color: white;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.leaflet-sidebar-tabs {
    background-color: #607d8b;
}

#sidebar.collapsed {
    max-width: 350px !important;
    max-height: 75px !important;
}

#sidebar {
    border-radius: 10px;
    max-width: 350px !important;
    max-height: 250px !important;
}

.leaflet-sidebar-left .leaflet-sidebar-content {
    min-width: 390px !important;
    opacity: 0.8;
}

.leaflet-sidebar-header,
.leaflet-sidebar-tabs>li.active,
.leaflet-sidebar-tabs>ul>li.active {
    background-color: #607d8b !important;
}

.material-icons {
    font-family: "Material Icons" !important;
}

.eb-img {
    grid-area: eb-img;
    text-align: center;
    align-self: center;
}

.navbar{
    max-height: 9vh;
}
.eb-img img {
    max-width: 54px;
    max-height: 57px;
}

.dsg-img img {
    max-width: 47px;
    max-height: 54px;
}

.title {
    grid-area: title;
    text-align: center;
    align-self: center;
    font-size: 30px;
    line-height: 30px;
}

.dsg-img {
    grid-area: dsg-img;
    text-align: center;
    align-self: center;
}

.grid-container-title {
    display: grid;
    grid-template-areas: "eb-img title dsg-img";
}

i {
    color: white;
}

.mdl-mini-footer {
    color: white;
    padding: 9px 16px;
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 25px;
    }
}

.hide {
    display: none !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 1.5px !important;
    padding-left: 1.5px !important;
}

.card-body {
    padding: 0.25rem !important;
}