.header-popup {
    grid-area: header;
    min-height: 50px;
}

.linechart-popup {
    grid-area: chart;
    min-height: 50px;
}

.row1-popup {
    grid-area: row1;
}

.value1-popup {
    grid-area: value1;
}

.row2-popup {
    grid-area: row2;
}

.value2-popup {
    grid-area: value2;
}

.row3-popup {
    grid-area: row3;
}

.value3-popup {
    grid-area: value3;
}

.row4-popup {
    grid-area: row4;
}

.value4-popup {
    grid-area: value4;
}

.row5-popup {
    grid-area: row5;
}

.value5-popup {
    grid-area: value5;
}

.row6-popup {
    grid-area: row6;
}

.value6-popup {
    grid-area: value6;
}

.row7-popup {
    grid-area: row7;
}

.value7-popup {
    grid-area: value7;
}

.row8-popup {
    grid-area: row8;
}

.value8-popup {
    grid-area: value8;
}

.row9-popup {
    grid-area: row9;
}

.value9-popup {
    grid-area: value9;
}

.row10-popup {
    grid-area: row10;
}

.value10-popup {
    grid-area: value10;
}

.row11-popup {
    grid-area: row11;
}

.value11-popup {
    grid-area: value11;
}

.header-popup {}

.header-popup,
.row1-popup,
.value1-popup,
.row2-popup,
.value2-popup,
.row3-popup,
.value3-popup,
.row4-popup,
.value4-popup,
.row5-popup,
.value5-popup,
.row6-popup,
.value6-popup,
.row7-popup,
.value7-popup,
.row8-popup,
.value8-popup,
.row9-popup,
.value9-popup,
.row10-popup,
.value10-popup,
.linechart-popup {
    border-bottom: 1px solid;
}

.grid-container-popup {
    display: grid;
    grid-template-areas: 
    'header header header chart' 
    'header header header chart' 
    'row1 row1 row1 value1' 
    'row2 row2 row2 value2'
    'row3 row3 row3 value3'
    'row4 row4 row4 value4'
    'row5 row5 row5 value5'
    'row6 row6 row6 value6'
    'row7 row7 row7 value7'
    'row8 row8 row8 value8'
    'row9 row9 row9 value9'
    'row10 row10 row10 value10'
    'row11 row11 row11 value11';
    margin-bottom: 10px;
    border-radius: 10px;
    min-width: 270px;
}