.noUi-tooltip {
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}

.play-button {
    grid-area: button;
}

.slider-time {
    grid-area: slider;
}

.footer-start {
    grid-area: footer-start;
    text-align: left;
}

.footer-end {
    grid-area: footer-end;
    text-align: right;
}

.footer-end,
.footer-start {
    white-space: pre;
}

.grid-container {
    display: grid;
    grid-template-areas: 'button slider slider slider' 'button footer-start null footer-end';
    grid-gap: 10px;
    padding-right: 100px;
}

.slider-time {
    padding-right: 30px;
}

@media only screen and (max-width: 600px) {
    .slider-time {
        max-width: 250px;
        margin-left: 15px;
    }
    .grid-container {
        display: grid;
        grid-template-areas: 'button slider slider null' 'button footer-start  footer-start null' 'button footer-end footer-end null';
        grid-gap: 10px;
    }
    .footer-end {
        text-align: left;
    }
}

.noUi-connect {
    background: #b3d4fc;
}

#start-date.active {
    color: red;
}