.noUi-tooltip {
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}

.slider-time {
    padding: 30px 30px 0px 30px;
}

.noUi-connect {
    background: #b3d4fc;
}

#current-date.active {
    color: red;
}

#slider-date > div > div:nth-child(2) > div {
    width: 10px;
}

#slider-date > div > div:nth-child(2) > div:after {
    content: none;
 }

 #slider-date > div > div:nth-child(2) > div:before {
    content: none;
 }