#cases-values, #deaths-values {
    font-size: 30px;
}

#location{
    font-size: 40px;
    text-align: center;
    text-anchor: middle;
}

#status{
    color: #333;
}


.location { 
    grid-area: location; 
    text-align: center;
}
.tag-cases { 
    grid-area: tag-cases;
    text-align: center;
}
.ncases { 
    grid-area: ncases;
    text-align: center;
}
.tag-deaths { 
    grid-area: tag-deaths;
    text-align: center;
}
.ndeaths { 
    grid-area: ndeaths;
    text-align: center;
}


.grid-container-status {
  display: grid;
  grid-template-areas:    
    'location location location location'
    'location location location location'
    'tag-cases tag-cases tag-deaths tag-deaths'
    'ncases ncases ndeaths ndeaths';

    grid-gap:10px;
 
}