#cases-values,
#recuperados-values,
#deaths-values,
#lethality-values {
  font-size: 25px;
  
}

.tag-cases,
.tag-recuperados,
.tag-deaths,
.tag-lethality {
  font-size: 15px;
  
}

#tag-location {
  font-size: 30px;
  
}



