#cases-values,
#recuperados-values,
#deaths-values,
#lethality-values,
#vaccinated-values,
#vaccinatedSecond-values {
  font-size: 25px;
  
}

#last-vaccinated-tag{
  font-size: 10px;
  color: #2196f3;
}

#last-vaccinatedSecond-tag{
  font-size: 10px;
  color: #00cbcc;
}

#last-cases-tag{
  font-size: 10px;
  color: red;
}

#last-deaths-tag{
  font-size: 10px;
  color: gray;
}

#last-recovered-tag{
  font-size: 10px;
  color: green;
}

.tag-cases,
.tag-recuperados,
.tag-deaths,
.tag-lethality,
.tag-vaccinated,
.tag-vaccinatedSecond {
  font-size: 15px;
  
}

#tag-location {
  font-size: 30px;
  
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid black;
}

#last-deaths > .triangle-up {
  border-bottom-color: gray;
} 

#last-cases > .triangle-up {
  border-bottom-color: red;
} 

#last-recovered > .triangle-up {
  border-bottom-color: green;
} 

#last-vaccinated > .triangle-up {
  border-bottom-color: #2196f3;
} 

#last-vaccinatedSecond > .triangle-up {
  border-bottom-color: #00cbcc;
} 

#last-vaccinated-values {
  color: #2196f3;
}

#last-vaccinatedSecond-values {
  color: #00cbcc;
}

#last-deaths-values {
  color: gray;
}

#last-cases-values {
  color: red;
}

#last-recovered-values {
  color: green;
}


